.row
  .col-md-8
    = render 'entries'

  .col-md-4
    %section.panel.panel-default.doc-buttons.b-light
      .need_padding
        = link_to new_resource_path, rel: 'tooltip', title: '创建菜品', class: 'btn btn-primary' do
          %i.fa.fa-plus
          添加菜品