form.company-form {
  #user_company_attributes_logo { width: 300px; }
}

.form-group {
  &.upload {
    .img-holder, .action { float: left; }

    .img-holder {
      border: 1px dashed #ccc;
      width: 102px;
      height: 102px;
      position: relative;

      .uploading {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
        position: relative;

        .g-block {
          border-radius: 30px;
          position: absolute;
          top: 30px;
          left: 30px;
          background-color: #fff;
          font-size: 12px;
          padding: 10px;
          font-weight: normal;
        }
      }
    }

    .action {
      margin-left: 20px;
      p { margin-top: 10px; }
    }
  }
}