- content = capture do
  使用帮助
  －－－－－－－－－－
  方法一：服务号点按钮
  方法二：发送位置信息
  方法三：对话框输入Ｍ
  方法四：您输入啥都行
  点击返回图文菜单即可
  －－－－－－－－－－

%MsgType
  = raw "<![CDATA[text]]>"
%Content
  = raw "<![CDATA[#{content}]]>"
