!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', :'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0', name: 'viewport' }
    %title 蜀面
    = stylesheet_link_tag :application

  %body
    = yield

    = javascript_include_tag :application
    = yield :js